---
layout: page
title: Other Activities
---
<h3>There are Lots of things to do in Alaska in August</h3>
<p>August is a fantastic time for hiking, berry-picking, fishing, wildlife viewing, etc. There are many things to do near the Chugiak/Anchorage area, including but not limited to:</p>
    <ul>
		<li>Whale watching with Kenai Fjords tours in Seward, AK</li>
		<li>Hiking/berry-picking in Chugach National Park</li>
		<li>Visiting Denali National Park</li>
		<li>Rafting or canoeing the Susitna River system</li>
		<li>Fishing for salmon in the Kenai River</li>
		<li>Shopping for handmade crafts at the Alaska Heritage Center</li>
		<li>Visiting the Anchorage Museum</li>
		<li><a href="https://www.lazyottercharters.com/">Lazy Otter Tours</a></li>
	</ul>
	<p>If you are interested in making a trip out of your visit, be sure to get in touch with experienced local guide and mother of the bride, Nancy Tankersley. Unfortunately, public transit is very poor and you will likely need to rent a car or RV during your stay.</p>