---
layout: page
title: Attendees
---

<h3>Guests</h3>
<ul>
    <li>Ayaire Cantil-Voorhees</li>
    <li>Kelly Rio Saxton</li>
    <li>Fiona Cushing</li>
    <li>Meagan Van Buskirk</li>
    <li>Byron Van Buskirk</li>
    <li>Tina Cocumelli</li>
    <li>David Kriess-Tomkins</li>
    <li>Lily Cohen</li>
    <li>Taylor Feldman</li>
    <!-- <li>Ebony White</li>
    <li>Oliver White</li> -->
    <li>Karen Brown</li>
    <li>Kirsten White</li>
    <li>Aurora Roth</li>
    <li>Diane Blas</li>
    <li>Nancy Tankersley</li>
    <li>Kenny Powers</li>
    <li>Ethan Cantil-Voorhees</li>
    <li>Tiffany Keller</li>
    <li>Jed Smith</li>
    <li>Marie-Eve Baron</li>
    <li>Elizabeth Evans</li>
    <li>Adina Burstein</li>
    <li>Makenzie Devries Rose</li>
    <li>Simon Gorbaty Rose</li>
    <li>Hava Rose</li>
    <li>Cindy Higgins</li>
    <li>Ken Higgins</li>
    <li>Charles Evans</li>
    <li>Nancy Lee-Evans</li>
    <li>Joanie Tankersley</li>
    <li>Bill Tankersley</li>
    <li>Mark McDermott</li>
    <li>Catherine Larrea</li>
    <li>Caitlin Elison</li>
    <li>Travis Elison</li>
    <li>Camilla Elison</li>
    <li>Hailey Morgan</li>
    <li>Cameron Vincent-Lang</li>
    <li>Will Criner</li>
    <li>Kendra Higgins</li>
    <li>Christin Swearingen</li>
    <li>Karlin Swearingen</li>
    <li>Jillian Morissey</li>
    <li>Tim Leach</li>
    <li>Rhone Leach</li>
    <li>Rebecca Menzia</li>
    <li>Chris Goard</li>
    <li>Sharon Vaissiere</li>
    <li>Mike MacFadyen</li>
    <li>Julia Coster</li>
    <li>Steve DeVries</li>
    <li>Ryann Martinek</li>
    <li>Paige Devries</li>
    <li>Peter Smith</li>
    <li>Rebecca Richter</li>
    <li>Mariah Toulouse</li>
    <li>Michael Toulouse</li>
    <li>Alessa Toulouse</li>
    <li>Valery White</li>
    <li>Malcom Suttles</li>
    <li>Peter Randlette</li>
    <li>Ruth Hayes</li>
    <li>KC Nattinger</li>
    <li>Alana Murphy</li>
    <li>Liana Ludwick</li>
    <li>Lessly Field</li>
    <li>Hank Field</li>
    <li>Carson Field</li>
    <li>Lorene Lynn</li>
    <li>Larry Lynn</li>
    <li>James Lynn</li>
    <li>Dan Strickland</li>
    <li>Pam Strickland</li>
    <li>Luke Strickland</li>
    <li>Adrianne Strickland</li>
    <li>Duneiden Strickland</li>
    <li>Auberon Strickland</li>
    <li>Taelyr Pfeiffer</li>
</ul>

<h3>Band Members</h3>
<ul>
    <li>Jason Overby</li>
    <li>Telsche Overby</li>
    <li>Sorscha Overby</li>
    <li>Rachel Overby</li>
    <li>Alyssa Overby</li>
    <li>Logan Bean</li>
</ul>