---
layout: page
title: Contact Us
---
<!-- <h3>Drop us a message, we'll get back to you</h3> -->

<h3>Places To Stay & Things To Do Coordinator: </h3>
<p>Nancy Tankersley - akwildguide(at)yahoo(dot)com</p>

<h3>Kitchen Coordinator:</h3>
<p>Eli Evans</p>

<h3>Decorating Coordinator:</h3>
<p>Nancy Tankersley</p>

<h3>Day-of Stage Manager:</h3>
<p>Hailey Morgan</p>

<h3>To-Be-Weds:</h3>
<p>Molly McDermott & Kina Smith - smermott.wedding(at)gmail(dot)com</p>




	<!-- <div class="typeform-widget" data-url="https://molinasmermott.typeform.com/to/Ic7Iz1" data-transparency="50" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 600px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=Ic7Iz1&utm_source=typeform.com-12948438-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div> -->