---
layout: page
title: Gifts (of time)
---
	<h3>We don't want stuff</h3>
<p>If you know us well, you know that we live a pretty simple lifestyle in a small rental home. We do not have room or the need for more stuff. We consider it a gift for our out-of-town friends and family to travel all the way to Alaska to celebrate with us.</p>
<p>If you really want to contribute in some way, we could use volunteers to help our Decorating and Kitchen coordinators run the show. If you’d like to gift a half hour of your time decorating, cooking, cleaning up, or doing dishes, please let us know and we’ll sign you up. This is entirely optional - absolutely not required!</p>
<p>Of course, small, handmade gifts or cards are welcome.</p>
