---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>{{ site.title }}</h2>
							<p>We're Getting Married in <a id="timer"></a> Days</h3>!!!</p>
							<ul class="actions">
								<li><a href="{{ site.baseurl }}/rsvp.html" class="button special">RSVP</a></li>
							</ul>
						</div>
						<a href="#three" class="more scrolly">More Below</a>
					</section>

					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Important Information</h2>
							</header>
							<ul class="features">
								<li class="icon fa-clock">
										<h2>Matrimony is imminent!</h2>
										<p>We’re getting married on August 17th, 2019 at Camp Singing Hills in Chugiak, AK.</p>
									</li>

									<li class="icon fa-list-ul">
										<h2>Weekend Schedule</h2>
										<h3>Friday</h3>
											<ul class="sub_features">
												<li>
												<b>10am-12PM Easy Hike with family and friends</b>
												<ul>
													We're going on a walk at <a href="https://goo.gl/maps/nggVvdBichjjzKM99" target="_">Kincaid Park in Anchorage</a>. We want you to come to hang out before the craziness of Saturday starts. This will be an easy stroll on easy trails, route to be determined. Lets meet at the main Pavilion at 10AM and go from there! You'll have recieved an email with more details. Call/Email/Text if you need more directions. 
												</ul>
												</li>
												<li><b>Friday Evening: Rehearsal Dinner</b>
												<ul>
													For those of us in the ceremony, lets get together and practice! You'll have gotten an email with more details. Please Call/Email/Text if you know you're in the ceremony and never recieved the details.
												</ul>
												</li>
											</ul>
										<h3>Saturday</h3>
											<ul class="sub_features">
												<li>3:00PM Guests begin to arrive</li>
												<li>4:00PM Ceremony</li>
												<li>5:00PM Cocktail Hour</li>
												<li>6:00PM Dinner</li>
												<li>7:00PM Toasts</li>
												<li>7:30PM Cake</li>
												<li>8:00PM Music & Dancing Start</li>
											</ul>
										<h3>Sunday</h3>
											<ul class="sub_features">
												<li>8:00AM Coffee in the main lodge</li>
												<li>9:00AM Breakfast</li>
												<li>11:00AM Cleanup Begins</li>
											</ul>
									</li>
	
								<li class="icon fa-spoon">
									<h2>Food</h2>
									<h3>*Saturday Dinner</h3>
									<h4>Appetizers</h4>
									<ul class="sub_features">
										<li>Chips (corn)</li>
										<li>Smokin' Salmon Dip</li>
										<li>Guacamole</li>
										<li>Crackers</li>
										<li>Salsa</li>
									</ul>
									<h4>Main Course: Alaskan Taco Bar!</h4>
									<ul class="sub_features">
										<li>Moose</li>
										<li>Halibut</li>
										<li>Salmon</li>
										<li>Beans</li>
										<li>Cheese</li>
										<li>Fresh corn & flour tortillas</li>
										<li>Veggies and other accoutrements</li>
										<li><h4>Cake!</h4></li>
									</ul>
									<h3>*Sunday Breakfast</h3>
									<ul class="sub_features">
										<li>Tortilla/Egg Casserole</li>
										<li>Fruit</li>
										<li>Coffee/Tea</li>
									</ul>
								</li>

								<li class="icon fa-map-marker">
									<h2>Directions</h2>
									<p>Camp Singing Hills is located about 40 minutes north of Anchorage Alaska.</p>
									<div class="mapouter">
										<div class="gmap_canvas">
											<iframe width=100% height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=26410%20Paradis%20Lane%2C%20Chugiak%2C%20AK&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
											</iframe><a href="https://www.crocothemes.net"></a>
										</div>
										<!-- <style>.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style> -->
									</div>
								</li>

								<li class="icon fa-plane">
									<h2>Travel</h2>
									<p>August is tourist season in Alaska! If you are coming from out-of-town, please see our <a href="{{ site.baseurl }}/activities.html"> Things to Do </a> and <a href="{{ site.baseurl }}/stay.html"> Places to Stay </a> pages. Be sure to plan ahead, since accommodations and reservations can go quickly at that time of year.</p>
								</li>

							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Please RSVP</h2>
								<p>if you have questions or concerns, Contact us</p>
							</header>
							<ul class="actions vertical">
								<li><a href="{{ site.baseurl }}/rsvp.html" class="button fit special">RSVP</a></li>
								<li><a href="{{ site.baseurl }}/contact.html" class="button fit">Contact Us</a></li>
							</ul>
						</div>
					</section>
