---
layout: page
title: RSVP
menu-rank: 6
---
	<h3>RSVP</h3>
	<p>Please read through the information on the <a href="{{ site.url }}/activities.html">Things to Do</a> and <a href="{{ site.url }}/stay.html">Places to Stay</a> pages before RSVPing</p>
	<div class="typeform-widget" data-url="https://molinasmermott.typeform.com/to/EZGp0I" data-transparency="32" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 600px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=EZGp0I&utm_source=typeform.com-12948438-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>