---
layout: page
title: Places to Stay
---
<h3>You can sleep wherever you want!</h3>
<p>We chose our venue with the hope that many of our loved ones would be able to stay the night and continue the celebration with us the following morning with a group breakfast. More information about Camp Singing Hills can be found <a href="https://www.theknot.com/marketplace/camp-singing-hills-chugiak-ak-2001341">at their website.</a></p>
<h4>Staying at the venue - free!</h4>
<ul>
	<li>
		<p><b>Communal yurts</b> (open yurts that will sleep around 10 people)</p>
		<p>If you're planning on staying in the yurts, the only bed related infastructure provided are cots. There are no pillows or blankets, so we would suggest bringing a sleeping bag, an eye mask (it won't be getting dark), and a pair of ear plugs.</p>
		<p><img src="{{ site.baseurl }}/images/yurts-out.jpg"></p>
	</li>
	<li><b>Tent camping</b></li>
		<p>There are many beautiful and rustic tent camping options on the property, especially down by the lake. If you want more solitude than the communal yurts can provide, please bring a tent and a sense of adventure.</p>
	<li><b>Main lodge</b></li>
		<p>There are some options for sleeping in the Main Lodge. We should be able to provide cots if needed (if you're planning on this option, we would suggest bringing a sleeping mat just in case), but be warned...you will be up till the last of us, and up with the first because the kitchen and the dance floor are in the same room!</p>
</ul>
<h4>Staying Nearby - prices vary</h4>
<ul>
	<li>Rent an RV and park overnight at an RV park</li>
	<li>Peters Creek B&B</li>
	<li>Peters Creek Inn Alaska Chalet B&B</li>
	<li>Eagle River Motel</li>
</ul>
<p>Please state your preferred places to stay on the <a href="{{ site.baseurl }}/rsvp.html">RSVP</a> form here. If you have any questions about accommodations, please contact Nancy Tankersley - akwildguide(at)yahoo(dot)com.</p>









