---
layout: page
title: Our Story
---
<h3><span class="icon fa-heart-o"></span></h3>
<p>Kina and Molly met while living in Olympia, WA in 2012, after several mutual friends commented that they both wore the same boots (Xtratufs), played music, were from Alaska, and were both total nerds and should probably meet. Kina, a bike mechanic at the time, helped Molly and a motley crew of friends prepare for a 1,000 mile bike tour through the Yukon Territory and Alaska, after which Molly stayed in Anchorage.</p>
<p>They stayed in touch through letters, particularly during Molly’s long field seasons without phone or internet in remote areas of western Alaska, and occasional phone calls. Kina convinced Molly he was the perfect man when he sent her a solar-powered music box that played a snippet of the first tune they ever played together (Ookpik Waltz), written on a Mobius strip. The two dated long-distance for 2.5 years while Kina left Olympia to pursue his master’s degree at a creative technology program at NYU in New York City. The next year, Molly moved to Fairbanks to start her master’s program in biology at UAF.</p>
<p>Luckily Kina was willing to move to Fairbanks in 2014, and they’ve been happily short-distance ever since. They moved to Boulder, Colorado in 2017. In July 2018, Kina left for an epic 350-mile bikepacking trip on the Colorado trail. One evening, hungry in the Whole-Foods parking lot and searching through his gear for a pen, he found a letter. After a quick phone call home, he decided to wait to read the letter until that night. In it, Molly proposed. In response, Kina carved a wooden ring. A few days later they reunited in Buena Vista, CO and went camping near the gorgeous Thomas Lakes. </p>
