<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="{{ site.baseurl }}/activities.html"> Things to Do </a></li>
            <li><a href="{{ site.baseurl }}/stay.html"> Places to Stay </a></li>
            <li><a href="{{ site.baseurl }}/attendees.html"> List of Attendees </a></li>
            <li><a href="{{ site.baseurl }}/gifts.html"> Gifts (of time) </a></li>
            <li><a href="{{ site.baseurl }}/story.html"> Our Story </a></li>
            <li><a href="{{ site.baseurl }}/contact.html"> Contact Us </a></li>
            <li><a href="{{ site.baseurl }}/rsvp.html"> RSVP </a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
