<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>

<script> 
    var deadline = new Date("Aug 17, 2019 15:00:00").getTime(); 
    var x = setInterval(function() { 
    var now = new Date().getTime(); 
    var t = deadline - now; 
    var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
    // var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
    // var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
    // var seconds = Math.floor((t % (1000 * 60)) / 1000); 
    document.getElementById("timer").innerHTML = days;
    // document.getElementById("demo").innerHTML = days + "d "  
    // + hours + "h " + minutes + "m " + seconds + "s "; 
        if (t < 0) { 
            clearInterval(x); 
            document.getElementById("demo").innerHTML = "EXPIRED"; 
        } 
    }, 1000); 
</script> 