---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <!-- <p>Let us know if you'll be able to come</p> -->
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
